label {
    font-size: 25px;
    color: rgb(91, 1, 1);
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: 10%;
}

input {
    padding: 5px;
    margin-bottom: 5%;
    border-radius: 20px;
    border: 0;
    box-shadow: 4px 4px 4px rgb(97, 97, 97);
    text-align: center;
}

select {
    border-radius: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    border: 0;
    padding: 3px;
    box-shadow: 4px 4px 4px rgb(97, 97, 97);
    text-align: center;
}

textarea {
    border-radius: 5px;
    border: none;
    box-shadow: 4px 4px 4px rgb(97, 97, 97);
}

button:not(.logout_button, .edit_plant_buttons, .confirm_button) {
    padding: 10px;
    border: 0;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgb(97, 97, 97);
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.edit_plant_buttons {
    padding: 10px;
    border: 0;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgb(97, 97, 97);
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.logout_button {
    position: fixed;
    margin-left: 2%;
    top: 3%;
    padding: 10px;
    border: 0;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgb(97, 97, 97);
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 100;
}

.confirm_button {
    padding: 10px;
    background-color: aquamarine;
    border: 0;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgb(97, 97, 97);
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.heading {
    font-size: 60px;
    color: rgb(122, 32, 32);
    margin-left: 8%;
    background-color: rgba(166, 231, 209, 0.792);
    width: 20%;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    border-radius: 50px;
}

.login_heading {
    margin-top: 0;
    font-size: 40px;
    color: rgb(122, 32, 32);
    text-align: center;
}

.page_back {
    background-color: rgb(203, 255, 239);
    background-image: url('https://media.istockphoto.com/id/1166491297/vector/collage-contemporary-floral-seamless-pattern-modern-exotic-jungle-fruits-and-plants.jpg?s=612x612&w=0&k=20&c=zwjhArTyUKP4F4itieQNmmk1UA-0m7ZM5dLTqgC9Spk=');
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}

.page_back_logged_in {
    position: relative;
    top: -3%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}

.home_text {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -350%);
    color: rgb(255, 110, 110);
    font-size: 45px;
    background-color: rgba(240, 248, 255, 0.644);
    padding-left: 15px;
    padding-right: 15px;
}

.home_page_container {
    position: relative;
    margin-top: 10%;
}

.login_container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -15%);
    background-color: rgb(166, 231, 209);
    padding: 50px;
    border-radius: 50px;
}

.welcome_back_text {
    position: absolute;
    left: 30%;
    top: -2.35em;
    font-size: 60px;
    padding: 8px;
    color: rgb(105, 0, 0);
}

.plant_form {
    position: fixed;
    left: 80%;
    transform: translate(-50%, -10%);
    background-color: rgb(166, 231, 209);
    padding: 40px;
    border-radius: 40px;
    z-index: 100;
}

.plant_form_heading {
    background-color: rgb(101, 198, 166);
    padding: 3px;
    text-align: center;
    border-radius: 15px;
}

.plant_page {
    background-color: rgb(255, 206, 143);
    width: 100%;
    position: absolute;
    top: 100%;
}

.plant_card {
    width: 30%;
    margin: auto;
    background-color: rgb(240, 166, 124);
    padding: 15px;
    margin-bottom: 5%;
    text-align: center;
    border-radius: 30px;
    box-shadow: 5px 5px 3px rgb(169, 140, 103);
}

.plant_image {
    width: 30rem;
    border-radius: 20px;
}

.plant_description {
    background-color: rgb(166, 231, 209);
    padding: 5px;
    border-radius: 10px;
}

.plant_traits {
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 15px;
    font-size: 18px;
}

.update_delete_div {
    padding: 15px;
}